/* Generic */
* {
  box-sizing: border-box;
  transition: all .25s ease;
}

body {
}

input, p, h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 2rem;
  color: rgba(255,255,255,0.5);
  text-align: center;
  font-weight: 100;
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
}


/* Controls */
input, button {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 1rem;
    border: none;
}

input {
   width: 100%;
   border-top-left-radius: .5rem;
   border-bottom-left-radius: .5rem;
}


button {
    border: none;
    background: lightblue;
    color: white;
    width: 8rem;
    cursor: pointer;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
button:focus, input:focus {
    outline: none;
}

button:hover {
    opacity: 0.5;
}

/* Output */

p {
  position: relative;
  left: -5%;
  opacity: 0;
  animation: slidein .3s ease forwards;
}

@keyframes slidein {
  100% {opacity: 1; left: 0%;}
}

/* Classes */
.output {
    height: 20rem;
    padding: 1rem;
    border-radius: .5rem;
    overflow: scroll;
}


.controls {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.component {
  position: absolute;
  width: 95%;
  top: 50%;
  left: 50%;
  max-width: 50rem;
  transform: translate(-50%, -50%);
}


/* Start */
.start {
  width: 100vw;
  height: 100vh;
  background-color: #0A1060;
}

.start .output {
  background-color: #303F9F;
}
.start input {
  background-color: white;
  color: black;
}

.start ::-webkit-input-placeholder {
  color: #FF9800;
}

.start button {
  background-color: #009688;
}

/* Joined */

.joined {
  width: 100vw;
  height: 100vh;
  background-color: #9FA8DA;
}

.joined .output {
  background-color: #E8EAF6;
}
.joined input {
  background-color: white;
  color: black;
}
.joined button {
  background-color: #B2DFDB;
}
