/* Generic */

body {
  padding: 10px;
}
input, p, h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

input, button {
    font-size: 18px;
    margin-top: 20px;
    font-weight: 300;
    padding: 10px;
}

input {
    min-width: 500px;
}

button:focus, input:focus {
    outline: none;
}

label {
    display: inline-block;
    width: 40px;
}

button {
    border: 2px solid lightblue;
    background: lightblue;
    color: white;
    width: 94px;
    cursor: pointer;
    transition: opacity .3s ease;
}

button:hover {
    opacity: 0.5;
}

p {
    line-height: 5px;
}

/* Class */
.output {
    border: 1px solid lightgrey;
    height: 400px;
    width: 596px;
    padding: 10px;
}
